version: '3'

services:

  web:
    build: .
    # volumes:
    #   - .:/home11
    command: python3 manage.py runserver 0.0.0.0:8000 
    # command: make lint
    # restart: always
    # container_name: my-web
    ports:
      - "8000:8000"
    # env_file:
    #   - ./.env.dev



  db:
    image: postgres:14-alpine
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB='ptm_app'
      - POSTGRES_USER=an'atol
      - POSTGRES_PASSWORD='1234'



  # redis:
  #   image: "redis"
  #   restart: always
  #   container_name: my_redis
  #   ports: 
  #   - "6379:6379"
  #   depends_on:
  #     - web





  # swagger-ui:
  #   image: swaggerapi/swagger-ui
  #   container_name: swagger_ui_container
  #   restart: always
  #   ports:
  #       - "88:8080"
  #   volumes:
  #       - ./doc:/usr/share/nginx/html/doc
  #   environment:
  #       API_URL: doc/openapi.yaml








  # worker:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: ['celery', '-A', 'storegame', 'worker', '-l', 'info']
  #   container_name: my-worker
  #   environment:
  #     - BROKER_URL=redis://my_redis:6379
  #     - RESULT_BACKEND=redis://my_redis:6379
  #   depends_on:
  #     - redis














  # celery_beat:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   image: celery_beat
  #   command: celery -A storegame beat
  #   container_name: my_celery_beat
  #   # volumes:
  #   #   - .:/app
  #   # env_file:
  #   #   - ./.env/.dev-sample
  #   depends_on:
  #     - redis



  # flower:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   image: mher/flower:0.9.7
  #   command: python3 -m celery -A storegame flower --port=5555
  #   # volumes:
  #   #   - .:/app
  #   # env_file:
  #   #   - ./.env/.dev-sample
  #   ports:
  #     - 5557:5555
  #   depends_on:
  #     - redis
  #     # - db





  # smtp:
  #   build:
  #     context: .
  #     dockerfile: smtp_Dockerfile
  #   # command: python3 -m smtp -n -c DebuggingServer localhost:1025
  #   command: ['smtp', '-n', '-c', 'DebuggingServer', 'localhost:1025']
  #   container_name: my-smtp
  #   ports:
  #     - 1025:1025
  #   # environment:
  #   #   - BROKER_URL=redis://my_redis:6379
  #   #   - RESULT_BACKEND=redis://my_redis:6379
  #   # depends_on:
  #   #   - redis



  smtp:
      image: namshi/smtp
      container_name: smtp_relay
      restart: always
      ports:
      - "25:25"


