{% extends 'main/base.html' %}
{% comment %} {% load socialaccount %} {% endcomment %}
{% comment %} {% providers_media_js %} {% endcomment %}
{% comment %} {% providers_media_js %} {% endcomment %}
{% comment %} {% load socialaccount %} {% endcomment %}





    {% block content %}


    <style>
        input[type=text],
        textarea {
            width: auto;
        }
    </style>

<br><br>    
    <h2><p class="center">Авторизация</p></h2>
    <form action="" method="post" class="center" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <input type="submit" value="Войти" class="button vyp">
    </form>
    <br>

    


    {% endblock %}