{% extends 'main/base.html' %}






{% comment %} {%block content%}

{%endblock content%} {% endcomment %}








{% block content %}


<style>
	input[type=text],
	textarea {
		width: auto;
	}
</style>


<br>
<br>    

<h2><p class="center">Сброс пароля</p></h2>
<form action="" method="post" class="center" >
	{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="next" value="{{ request.GET.next }}" />
	<input type="submit" value="Отправить ссылку" class="button vyp">
</form>
<br>




{% endblock %}





<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Сброс пароля1</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<div class="form-buttons">
			<input type="submit" value="Send" class="btn btn-primary">
			<a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>
		</div>
	</form>
	</div>