{% extends 'main/base.html' %} 
{% block content %}

    <style>
        input[type=text],
        textarea {
            width: auto;
            
        }
    </style>


    <br><br> 
    <h1><p class="center">Изменение пароля</p></h1>
    <form method="post" class="center">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Изменить пароль">
    </form>
    {% comment %} <p><button><a href="{% url 'index' %}">На главную</a></button> {% endcomment %}



        {% endblock %}