{% extends 'main/private_office_s1.html' %} {% block content_1 %}

<style>
  div {
    width: 650px;
  }

  input[type="text"],
  textarea {
    width: 150px;
  }
</style>

<br /><br />

<h2><p class="center">Заявки подтвержденные</p></h2>

{% if group == "customer" %} {% for i in result %}
<br />
<p>Заявка №{{ i.id }} от {{ i.aplic_date }}</p>

<p>
  <a href="{% url 'pdf_application' pk=i.id %}">
    <button class="button pdf_z">Заявка(PDF)</button></a>
</p>
{% endfor %} {% endif %} {% if group == "engineer" %} {% for i in result %}
<br />
<p>Заявка №{{ i.id }} от {{ i.aplic_date }} ({{i.user_fio}})</p>
<p>
  <a href="{% url 'application_complete_akt' pk=i.id %}">
    <button class="button akt">Заполнить АКТ</button></a>
  <a href="{% url 'pdf_akt' pk=i.id %}">
    <button class="button pdf_akt">Акт(PDF)</button></a>
  <a href="{% url 'pdf_application' pk=i.id %}">
    <button class="button pdf_z">Заявка(PDF)</button></a>
  <a href="{% url 'application_cancel' pk=i.id %}">
    <button class="button otm">Отменить</button></a>
  <a href="{% url 'application_give' pk=i.id %}">
    <button class="button pod">Подать</button></a>
</p>
{% endfor %} {% endif %} {% endblock %}
