{% extends 'main/base.html' %} 
{% block content %}

<br>
<br>
<br>
<br>
<h3 style="text-align: center;">Добро пожаловать на сайт для оформления и отслеживания заявок на аттестацию сварщиков.</h3>
<h3 style="text-align: center;">Для того, чтобы воспользоваться сайтом Вам необходимо:</h3>
<h3 style="text-align: center;">1. Пройти регистрацию;</h3>
<h3 style="text-align: center;">2. Пройти авторизацию;</h3>
<h3 style="text-align: center;">3. Перейти в "Кабинет", где можно подать заявку, и отследить ее статус</h3>


{% endblock %}

