{% extends 'main/base.html' %} 
{% block content %}

<style>
    table.menu_1{
        width: 100%;
        border-collapse:collapse;
        border-spacing:0;
        height: auto;
    }
    table.menu_1,table.menu_1 td, table.menu_1 th {
        border: 0px solid #595959;
    }
    table.menu_1 td,table.menu_1 th {
        padding: 3px;
        width: 30px;
        height: 35px;
    }
    table.menu_1 th {
        background: #347c99; 
        color: #fff; 
        font-weight: normal;
    }

</style>

<br>
<br>
<p align='center' >ЛИЧНЫЙ КАБИНЕТ ПОЛЬЗОВАТЕЛЯ: {{ user }}
<table class="menu_1">
	<tbody>
		<tr>
            {% if group == "customer" %}
			<td style="text-align: center"><a href="{% url 'add_application' %}"><button class="button pdf_z">ПОДАТЬ ЗАЯВКУ</button></a></td>
            {% endif %}

            <td style="text-align: center; font-size="25px" "><a href="{% url 'all_applications_give' %}"><button class="button pod">ПОДАННЫЕ</button></a></td>
			<td style="text-align: center"><a href="{% url 'all_applications_confirm' %}"><button class="button podtv">ПОДТВЕРЖДЕННЫЕ</button></a></td>
            <td style="text-align: center"><a href="{% url 'all_applications_done' %}"><button class="button vyp">ВЫПОЛНЕННЫЕ</button></a></td>
            <td style="text-align: center"><a href="{% url 'all_applications_cancel' %}"><button class="button otm">ОТМЕНЕННЫЕ</button></a></td>

            
            {% if group == "engineer" %}
            <td style="text-align: center"><a href="{% url 'material_plate' %}"><button class="button pdf_z">МАТЕРИАЛЫ</button></a></td>
            {% endif %}

			
			
		</tr>
	</tbody>
</table>


{% block content_1 %}

{% endblock %}

{% endblock %}