{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style>

            
            @font-face { 
                font-family: Arial; 
                src: url(/static/fonts/arial.ttf); 
            }



             @font-face { 
                font-family: Arial; 
                src: url("/home/user/fonts/arial.ttf") format("truetype"); 
            }


            body{
                font-size: 12px;
                font-family: Arial; 
                padding: 2px;
            }

            p{
                margin-top: 1px;
                margin-bottom: 1px;
            }
            
        </style>
    </head>
    <body>
        
    



        <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
            <tr>
            <td style="width: 10%;"></td>
            <td style="width: 20%; text-align: center; "><p style="font-size: 18px;">ООО "СГС"</p></td>
            <td style="width: 50%; text-align: center;"><p style="font-size: 16px;">Акт №: {{id}}</p>На сварку контрольного сварного соединения</td>
            <td style="width: 20%; text-align: center;">{{start_date}}</td>
            </tr>
            </tbody>
        </table>
        

        <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
            <tr>
            <td style="width: 50%; text-align: right;">Аттестуемая организация:</td>
            <td style="width: 50%; ">{{org_name}}</td>
            </tr>
            <tr>
            <td style="width: 50%; text-align: right;">Способ сварки:</td>
            <td style="width: 50%;">{{sposob_svarki}} </td>
            </tr>
            </tbody>
            </table>
            


            <table style="border-collapse: collapse; width: 100%;" border="1">
                <tr>
                    <td style="width: 100%; text-align: center;">Сварочный материал</td>
                </tr>
            </table>
            <table style="width: 100%;" border="1">
           
                <tr>
                    <td style="width: 25%; text-align: center;">Диаметр</td>
                    <td style="width: 25%; text-align: center;">Марка</td>
                    <td style="width: 25%; text-align: center;">Сертификат №</td>
                    <td style="width: 25%; text-align: center;">Примечание</td>
                </tr>
                <tr>
                    <td style="width: 25%; text-align: center;">{{welder_material.0}}</td>
                    <td style="width: 25%; text-align: center;">{{welder_material.1}}</td>
                    <td style="width: 25%; text-align: center;">{{welder_material.2}}</td>
                    <td style="width: 25%; text-align: center;"></td>
            </table>
            <br>
            
            <table style="border-collapse: collapse; width: 100%;" border="1">
                <tr>
                    <td style="width: 100%; text-align: center;">Основные материал</td>
                </tr>
            </table>
            <table style="width: 100%;" border="1">
           
                <tr>
                    <td style="width: 20%; text-align: center;">Типоразмер образцов, мм</td>
                    <td style="width: 20%; text-align: center;">Группа материала</td>
                    <td style="width: 20%; text-align: center;">Марка</td>
                    <td style="width: 20%; text-align: center;">Сертификат №</td>
                    <td style="width: 20%; text-align: center;">Примечание</td>
                </tr>
                {% for i in weld_main_material_plate %}
                <tr>
                    <td style="width: 20%; text-align: center;">{{i.0}}</td>
                    <td style="width: 20%; text-align: center;">{{i.1}}</td>
                    <td style="width: 20%; text-align: center;">{{i.2}}</td>
                    <td style="width: 20%; text-align: center;">{{i.2}}</td>
                    <td style="width: 20%; text-align: center;"></td>
                </tr>
                {% endfor %}
                {% for i in weld_main_material_tube %}
                <tr>
                    <td style="width: 20%; text-align: center;">{{i.0}}</td>
                    <td style="width: 20%; text-align: center;">{{i.1}}</td>
                    <td style="width: 20%; text-align: center;">{{i.2}}</td>
                    <td style="width: 20%; text-align: center;">{{i.2}}</td>
                    <td style="width: 20%; text-align: center;"></td>
                </tr>
                {% endfor %}
            </table>



            <br>
                <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                <tr>
                <td style="width: 100%; text-align: center;">Перечень сварщиков</td>
                </tr>
                </tbody>
                </table>





            <table style="border-collapse: collapse; width: 100%;" border="1">
            <tbody>
            <tr>
            <td style="width: 10%; text-align: center;">№</td>
            <td style="width: 50%; text-align: center;">Ф.И.О.</td>
            <td style="width: 10%; text-align: center;">Клеймо</td>
            <td style="width: 30%; text-align: center;">Подпись</td>
            </tr>

                    
            {% for i in welder_list %}
            <tr>
            <td style="width: 10%; text-align: left; text-align: center;">{{ i.0 }}</td>
            <td style="width: 50%; text-align: left;">{{ i.1 }}</td>
            <td style="width: 10%; text-align: left; text-align: center;">{{ i.2 }}</td>
            <td style="width: 30%; text-align: center;"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <br>
            
        
        <br>
        <br>
        <br>
        <table style="width: 99.9975%;" border="0">
            <tbody>
            <tr>
            <td style="width: 25%; text-align: right;">Председатель комиссии</td>
            <td style="width: 30%; text-align: right;">{{chef_kom_pos}}</td>
            <td style="width: 20%;  text-align: center;">__________________</td>
            <td style="width: 30%;  text-align: left;">{{chef_kom_fio}}</td>
            </tr>
            <tr >
            <td style="width: 25%; text-align: right;">Члены комиссии</td>
            <td style="width: 30%; text-align: right;">{{kom_pos.0}}</td>
            <td style="width: 20%; text-align: center;">__________________</td>
            <td style="width: 30%; text-align: left;">{{kom_fio.0}}</td>
            </tr>
            <tr >
                <td style="width: 25%; text-align: right;"> </td>
                <td style="width: 30%; text-align: right;">{{kom_pos.1}}</td>
                <td style="width: 20%; text-align: center;">__________________</td>
                <td style="width: 30%; text-align: left;">{{kom_fio.1}}</td>
                </tr>
                <tr >
                    <td style="width: 25%; text-align: right;"> </td>
                    <td style="width: 30%; text-align: right;">{{kom_pos.2}}</td>
                    <td style="width: 20%; text-align: center;">__________________</td>
                    <td style="width: 30%; text-align: left;">{{kom_fio.2}}</td>
                    </tr>                        
                    <tr >
                        <td style="width: 25%; text-align: right;"> </td>
                        <td style="width: 30%; text-align: right;">{{kom_pos.3}}</td>
                        <td style="width: 20%; text-align: center;">__________________</td>
                        <td style="width: 30%; text-align: left;">{{kom_fio.3}}</td>
                        </tr>  

            </tbody>
        </table>
        <br>
        
            <p></p>



    </div>





    </body>
</html>
