/* html {
  /* font-family: "Arial"; */
/* background-color: rgb(240, 235, 235); */
/* } */

body {
  padding-top: 10px !important;
  width: 1000px;
  /* background-color: rgb(78, 75, 75); */
}


TABLE {
  width: auto;
  /* Ширина таблицы */
  /* border: 1px solid #000; */
  /* Линия сверху таблицы */
  /* border-bottom: 1px solid #000; */
  /* Линия внизу таблицы */
}

TD,
TH {
  padding: 3px;
  text-align: center;
}

TH {
  text-align: center;
  padding: 3px;
}




* {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.underline {
  text-decoration: underline;
}

a {
  color: #0f6cb3;
  text-decoration: none;
}

.backgrounds div {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 1070px;
  height: 1107px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  background-position: center top !important;
}

.wrap_total {
  position: relative;
  width: 1024px;
  padding-top: 30px;
  margin: auto;
  height: auto;
  z-index: 1;
  background: rgb(249, 246, 246);
  border-radius: 30px;
}

.wrap {
  position: relative;
  width: 1024px;
  margin: auto;
  height: auto;
  
}

.header-menu {
  font-size: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* background: rgb(168, 213, 242); */
}

.header-menu li {
  position: relative;
  display: block;
  margin-left: 10px;
  /* margin-bottom: auto; */
  /* padding: auto; */
  text-align: center;
}

.header-menu a {
  position: relative;
  display: block;
  padding-bottom: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  /* color: #black;
  border-bottom: 2px rgba(0, 0, 0, 0) solid; */
}

.header-menu a:hover {
  color: #39c;
}

.header-menu a.active,
.header-menu a:active {
  color: #434343;
  border-bottom: 2px #39c solid;
}

.mainpage-catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
}

.left-menu {
  position: relative;
  width: 324px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: white;
}

.left-menu-name {
  font-size: 18px;
  position: relative;
  padding: 5px 0 5px 35px;
  text-transform: uppercase;
  color: black;
}

.left-menu-name i {
  position: absolute;
  left: 0;
  display: block;
  width: 35px;
  height: 20px;
}

.left-menu-name a:hover {
  color: #39c;
}

.left-menu-section a {
  font-size: 18px;
  display: block;
  padding: 7px 0 6px 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}

.left-menu-section a:hover {
  color: #39c;
}

.tabs {
  width: 650px;
}

.tabs-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 0 !important;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tabs-btn {
  font-size: 18px;
  padding: 6px 21px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  color: #6d7276;
  border: 2px solid #949ba0;
}

.tabs-btn-wide {
  width: 100%;
}

.tabs-btn:hover {
  color: #505357;
  border: 2px solid #39c;
  color: #39c;
  background: rgb(121, 183, 214);
}

.tabs-btn.active {
  color: white;
  border: 2px solid #39c;
  background: rgb(121, 183, 214);
}

.tabs-content {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  width: 650px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.tabs-content.active {
  z-index: 3;
  visibility: visible;
  opacity: 1;
}

.tab-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 650px;
}

/* .game-block,
.news-block {
  position: relative;
  display: block;

  height: 107px;
  text-decoration: none;
  background: white;
  margin-bottom: 30px;
}

.game-block-picture,
.news-block-picture {
  position: relative;
  overflow: hidden;
  width: 185px;
  height: 107px;
} */

/* .game-block-lucky .game-block-picture { */
  /* background: #ccc; */
/* } */

/* .game-block-image,
.news-block-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-position: center center !important;
  background-size: cover !important;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.game-block.hover .game-block-image,
.news-block.hover .news-block-image {
  opacity: 0.85;
  -webkit-filter: brightness(105%);
  filter: brightness(105%);
}

.game-block-name {
  font-size: 18px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 200px;
  display: block;
  width: 239px;
  color: black;
  background: #fff;
  padding-bottom: 5px;
}

.game-block-desc {
  font-size: 12px;
  position: absolute;
  top: 50px;
  left: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #898989;
  overflow: hidden;
  width: 239px;
  height: 18px;
}

.game-block-prices {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 26px;
  z-index: 10;
  background-color: #fff;
  padding-top: 3px;
}

.game-block-price {
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  height: 26px;
  margin-left: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  vertical-align: top;
  color: black;
}

footer {
  width: 1024px;
  padding-top: 10px;
  padding-bottom: 10px;
} */




























body {
  font-family: "Arial";
  font-size: 18px;
  border: 0px solid;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  line-height: 18px;
}

div {
  border: 0px solid;
  padding: 10px;
}

input[type=text],
textarea {
  width: 450px;
  padding: 10;
  margin: 10;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}


/* Кнопки стиля */
.btn {
  background-color: rgb(255, 255, 255);
  /* Синий фон */
  border: none;
  /* Удалить границы */
  color: rgb(182, 2, 2);
  /* Белый текст */
  padding: 1px 5px;
  /* Немного отступов */
  font-size: 18px;
  /* Установите размер шрифта */
  cursor: pointer;
  /* Указатель мыши при наведении */
  border-radius: 5px;
}

/* Более темный фон при наведении курсора мыши */
.btn:hover {
  background-color: rgb(197, 83, 83);
  color: rgb(255, 255, 255);
}

.btn:active {
  background-color: rgb(142, 10, 10);
  color: rgb(255, 255, 255);
}

fieldset {
  border: 1px solid rgb(36, 37, 36);
}

label {
  vertical-align: top;
}

textarea {
  resize: none;
}


.button {
  /* Сбрасываем дефолтные стили */
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
  font-family: Roboto, Verdana, Tahoma, sans;
  /* Тут можно поэкспериментировать */
  padding: 8px 8px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.button i {
  margin-right: 3px;
}

.button+.button {
  margin-left: 6px;
}

.button.blue {
  background: #5eec57;
  color: rgb(0, 0, 0);
}


/* цвета для форм заявок */
.button.otm {
  background: #f55757;
  color: rgb(0, 0, 0);
}
.button:hover.otm {
  background: #f7bdbd;
}

.button.podtv {
  background: #40c506;
  color: rgb(0, 0, 0);
}
.button:hover.podtv {
  background: #b6e9a0;
}

.button.reda {
  background: #7acdf9;
  color: rgb(0, 0, 0);
}
.button:hover.reda {
  background: #c1e5f8;
}

.button.pdf_z {
  background: #f6ed03;
  color: rgb(0, 0, 0);
}
.button:hover.pdf_z {
  background: #fff9b9;
}

.button.akt {
  background: #448dec;
  color: rgb(0, 0, 0);
}
.button:hover.akt {
  background: #81b3e2;
}

.button.pdf_akt {
  background: #f08e43;
  color: rgb(0, 0, 0);
}
.button:hover.pdf_akt {
  background: #ffc293;
}

.button.pod {
  background: #c58af5;
  color: rgb(0, 0, 0);
}
.button:hover.pod {
  background: #d9b3f8;
}

.button.udal {
  background: #f2068c;
  color: rgb(0, 0, 0);
}
.button:hover.udal {
  background: #f383c2;
}

.button.vyp {
  background: #57f4ef;
  color: rgb(0, 0, 0);
}
.button:hover.vyp {
  background: #cffbfa;
}


/* цвета для форм заявок */

.button.orange {
  background: #db6307;
  color: rgb(0, 0, 0);
}

.button.purple {
  background: #9e52a2;
  color: rgb(255, 255, 255);
}


.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover.blue {
  background: #4ec958;
  color: rgb(0, 0, 0);
}

.button:hover.orange {
  background: #e4b637;
}

.button:hover.purple {
  background: #8f418e;
}







.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:active.blue {
  background: #40ad49;
  color: rgb(15, 14, 109);
}

.button:active.orange {
  background: #e4b637;
}


.button:active.purple {
  background: #9e5f9d;
}1
























.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox+label {
  position: relative;
  padding: 0 0 0 45px;
  cursor: pointer;
}

.checkbox+label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 18px;
  border-radius: 8px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  transition: .3s;
}

.checkbox+label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: .2s;
}

.checkbox:checked+label:before {
  background: #57ec63;
}

.checkbox:checked+label:after {
  left: 24px;
}

.checkbox:focus+label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 255, 0.7);
}